<%- include('../Layout/nav', {title: "Editar trabajo"}) %> 

<section class="contacto">
    <div class="contenido-seccion">
        <h2>Editar <%= trabajo.name %> </h2>
        <div class="fila">
            <div class="columna">
                <form action="/admin/projects/<%= trabajo._id %>/editar" method="POST" enctype="application/x-www-form-urlencoded">
                    <div>
                        <input type="text" name="name" id="name" placeholder="Nombre" value="<%= trabajo.name %> ">
                    </div>
                
                    <div>
                        <textarea name="description" id="description" cols="30" rows="10" placeholder="Descripcion"> <%= trabajo.description %>  </textarea>
                    </div>

                    <legend>Seleccioná la tecnología/s del proyecto
                        <div class="form-check form-check-inline">
                                <% for(let i = 0; i < tecnologias.length; i++) { %>                             
                                    <input class="form-check-input" type="checkbox" id="technology" value="<%= tecnologias[i].name%>" name="technology[]">
                                    <label class="form-check-label" for="technology"><%= tecnologias[i].name %></label>
                                <% } %> 
                        </div>
                    </legend>

                    <div>
                        <input type="text" name="link" id="link" placeholder="Link al repositorio" value="<%= trabajo.link %> ">
                    </div>
                
                    <div>
                        <input type="url" name="img" id="img" placeholder="Link a imagen" value="<%=  trabajo.img %> ">
                    </div>
                    
                    <div>
                        <select name="condition" id="condition">  
                            <option value="true">Público</option>
                            <option value="false">Privado</option>
                        </select>
                    </div>


                    <div>
                        <button type="submit">Editar trabajo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<%- include('../Layout/footer') %> 